<div class="resume">
    <div class="personalInfo">
        <h1>Tevyn Payne</h1>
        <h2>Software Engineer and Developer</h2>
        <address>Euless, TX<br>(469)597-8480<br>tevyn.payne&#64;gmail.com</address>

    </div>
    <div class="summary">
        <h2>Summary</h2>
        <p>Eager and motivated software developer with extensive knowledge and hands-on experience in several languages, programming principles, data structures, object-oriented programming algorithms and databases, seeking a challenging role within a reputable organization. Possesses a positive attitude and strong written and verbal communication skills that facilitate effective collaboration. Demonstrates a process optimized logical mindset, drawing from a diverse background that enhances problem-solving and innovation. Committed to contributing positively to organizational goals and fostering a culture of continuous improvement. </p>
    </div>
    <div class="education">
        <h2>Education</h2>
        <p>Western Govener's University <span class="educationDates">09/23 - 08/25</span><br>
        Bachelor of Science, Software Engineering
        </p>
        <p>Florida State University <span class="educationDates">01/14 - 06/18</span><br>
        Bachelor of Arts, Japanese Language and Culture and Computer Programming
        </p>

    </div>
    <div class="experience">
        <h2>Experience</h2>
        <p>Albertsons | Frozen Foods Manager <span class="employmentDates">09/2023 - Pressent</span></p>
        <ul>
            <li>Manages inventory assets, ordering and updating the online management system</li>
            <li>Collaborates and assists other staff in daily routine checks and duties</li>
        </ul>
        <p>Shepherd School of Language | Academic Assistant <span class="employmentDates">05/22 - 09/23</span></p>
        <ul>
            <li>Offered guidance and training in classroom protocol, lesson plan development, and effective class management</li>
            <li>Served as a substitute teacher and assumed administrative duties</li>
            <li>Provided instruction and coaching to students at different English abilities, from beginner to proficient, demonstrating a versatile coaching style</li>
        </ul>
        <p>J.P. Morgan Software Engineering Virtual Experience on Forage | Intern <span class="employmentDates">04/24 - 05/24</span></p>
        <ul>
            <li>Set up a local dev environment by downloading the necessary files, tools and dependencies.</li>
            <li>Fixed broken files in the repository to make web application output correctly.</li>
            <li>Used JPMorgan Chase’s open-source library called Perspective to generate a live graph that displays a data feed in a clear and visually appealing way for traders to monitor.</li>
        </ul>
        <p>Electronic Arts Software Engineering virtual experience program on Forage | Intern </p>
        <ul>
            <li>Proposed a new feature for The Sims 4 and wrote a Feature Proposal describing it to other stakeholders.</li>
            <li>Built a class diagram and created a header file in C++ with class definitions for each object.</li>
            <li>Patched a bugfix and optimized the Sims 4 codebase by implementing an improved data structure.</li>
        </ul>
        <p>Japan Exchange and Teaching (JET) Program | Assistant Language Teacher</p>
        <ul>
            <li>Planned, developed materials and taught students from elementary, junior high and high school</li>
            <li>Hosted and facilitated cultural exchanges and language exchanges for English/Japanese language exchange </li>
            <li>Utilized effective communication skills to ensure understanding of the English language</li>
        </ul>

    </div>
    <div class="competencies">
        <h2>Information Technology Competencies</h2>
        <p>
            <b>Systems: </b> Windows PC, Android<br>
            <b>Databases: </b> MySQL, Relational Databases <br>
            <b>Languages: </b> C++, Python, JavaScript, SQL, HTML, CSS <br>
            <b>Software: </b> GitHub, GitLab, Visual Studio Code (VS-Code), MS Word/PowerPoint/Outlook <br>
            <b>Skills: </b> Version Control, Programming Principles, Management, Leadership
        </p>


    </div>
</div>